<div class="container">
  <div class="item">
    <div class="item-button">
      <a href="#" class="button">Action</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button2">
      <a href="#" class="button2">Fantasy</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button3">
      <a href="#" class="button3">Shounen</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button4">
      <a href="#" class="button4">Sports</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button5">
      <a href="#" class="button5">Seinen</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button6">
      <a href="#" class="button6">Mecha</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a href="#" class="button7">Romance</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button8">
      <a href="#" class="button8">Horror</a>
    </div>
  </div>
</div>

