<div class="container">
  <div class="item">
    <div class="item-button">
      <a href="#" class="button">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button2">
      <a href="#" class="button2">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button3">
      <a href="#" class="button3">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button4">
      <a href="#" class="button4">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button5">
      <a href="#" class="button5">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button6">
      <a href="#" class="button6">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a href="#" class="button7">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a href="#" class="button7">View Details</a>
    </div>
  </div>
</div>

