<nav>
  <div>
    <ul>
      <li><a class="logo" routerLink="/" routerLinkActive="active">AniMan</a></li>
      <li><a routerLink="/anime" routerLinkActive="active">Home</a></li>
    </ul>
  </div>
  <div class="right">
    <ul>
      <li><a routerLink="/anime/browse" routerLinkActive="active">Browse</a></li>
      <li><a routerLink="/anime/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Log in</a></li>
      <li><a routerLink="/signup" routerLinkActive="active">Sign up</a></li>
    </ul>
  </div>
</nav>

