<!--<div class="container">-->
<!--  <h2 class="logo">AniMan</h2>-->
<!--  <form (ngSubmit)="signup()" #signupForm="ngForm">-->
<!--    <div>-->
<!--      <label for="email">Email:</label>-->
<!--      <input type="email" id="email" name="email" [(ngModel)]="email" required email>-->
<!--      <div *ngIf="signupForm.controls['email'].invalid && signupForm.controls['email'].touched" class="error-message">-->
<!--        Please enter a valid email.-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="username">Username:</label>-->
<!--      <input type="text" id="username" name="username" [(ngModel)]="username" required minlength="4" maxlength="20">-->
<!--      <div *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched"-->
<!--           class="error-message">-->
<!--        Please enter a username between 4 and 20 characters.-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="password">Password:</label>-->
<!--      <input type="password" id="password" name="password" [(ngModel)]="password" required minlength="8"-->
<!--             (change)="checkPasswords()">-->
<!--      <div *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched"-->
<!--           class="error-message">-->
<!--        Please enter a password with at least 8 characters.-->
<!--      </div>-->
<!--    </div>-->
<!--    <div>-->
<!--      <label for="confirmPassword">Confirm password:</label>-->
<!--      <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required-->
<!--             minlength="8" (change)="checkPasswords()">-->
<!--      <div *ngIf="passwordMismatch && signupForm.controls['confirmPassword'].touched" class="error-message">-->
<!--        Passwords do not match-->
<!--      </div>-->
<!--    </div>-->
<!--    <button type="submit" [disabled]="signupForm.invalid">Sign Up</button>-->
<!--  </form>-->
<!--</div>-->


