
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@600&display=swap');

img{
  background:  rgba(43, 43, 43, 0.2);
  height: 100%;
}
h1 {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 19%;
  margin-bottom: 10px;
  transform: translateX(-50%);
  white-space: nowrap;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
}

/*.button {*/
/*  display: block;*/
/*  position: absolute;*/
/*  left: 50%;*/
/*  top: 40%;*/
/*  height: 2.5rem;*/
/*  padding-top: 1.3rem;*/
/*  width: 15rem;*/
/*  text-align: center;*/
/*  color: #fff;*/
/*  border: #fff solid 0.2rem;*/
/*  font-size: 1rem;*/
/*  font-weight: bold;*/
/*  text-transform: uppercase;*/
/*  text-decoration: none;*/
/*  transform: translateX(-50%);*/


/*}*/

.split.left .button:hover {
  background-color: rgba(92, 92, 92, 0.3);
  border-color: rgba(92, 92, 92, 0.3);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background: #333;
}

.split {

  position: relative;
  width: 100%;
  height: 90%;
  overflow: hidden;


}



@media (max-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  .button {
    width: 12rem;
  }
}

@media (max-height: 700px) {
  .button {
    top: 70%;
  }
}
.slider {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
  margin-top: -65px;
}

.slider ul {
  padding: 0;
  display: flex;
  width: 500%;
  animation: slid 15s infinite reverse;
  animation-timing-function: ease-in;
  height: 100%;

}

.slider li {
  position: relative;
  width: 20%;
  list-style: none;

}

.slider img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.slider img:hover{
  transform: scale(1.05); /* Adjust the scale factor as desired */
}
.darken{
  width: 100%;
  height: 100%;
}
.darken::after {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to bottom, rgba(0,0,0,0) 18%, rgb(19, 18, 18));
  pointer-events: none;
}
.slider-text {
  position: absolute;
  top: 75%;
  left: 16%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 54px;
  text-align: center;
  white-space: nowrap;
  font-family: Impact;
  font-style: italic;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  display: flex; /* Add this line */
  align-items: center; /* Add this line */
}
.slider-about {
  position: absolute;
  top: 80%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  text-align: left;
  margin-top: 40px;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.3em;
  text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  display: block; /* Update this line */
  white-space: pre-line;
  margin-left: 100px;
  word-break: keep-all;
  font-style: italic;
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-left: 25px; /* Adjust the margin as per your preference */
  height: 55px;
  text-align: center;
  border: 1px;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;

  font-style: italic;

}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.slider-button {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
@keyframes slid {
  0% { margin-left: 0; }
  10% { margin-left: 0; }
  15% { margin-left: -100%; }
  25% { margin-left: -100%; }
  30% { margin-left: -200%; }
  45% { margin-left: -200%; }
  50% { margin-left: -300%; }
  65% { margin-left: -300%; }
  70% { margin-left: -400%; }
  85% { margin-left: -400%; }
}

nav {
  align-items: center;
  background-color: #152232;
  display: flex;
  flex-direction: row;
  height: 68px;
  justify-content: center;


}

nav a {
  text-decoration: none;
  color: #a0b1c5;
  font-family: Overpass;
  font-size: 0.9em;
  margin: 0 16px;
}

.logo {
  height: 50px;
  margin-right: 12em;
  width: auto;
}

.search-icon {
  color: #777a9e;
  /*   color: #d3d5f3; */
  height: 1.17rem;
  margin: 0 1em 0 12em;
}

.profile-picture {
  border-radius: 3px;
  height: 38px;
  object-fit: cover;
  width: 38px;
}

.notification-pill {
  background-color: #fa7a7a;
  border-radius: 100%;
  padding: 0.1em;
}



/*body {*/
/*  width: 100vw;*/
/*  height: 100vh;*/

/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/

/*  margin: 0;*/

/*  background: #edf0f4;*/
/*}*/

/*p {*/
/*  margin-top: 0;*/
/*}*/
/*.rows{*/
/*  display: inline-block;*/
/*  flex-direction: row;*/

/*}*/
/*.card {*/
/*  position: relative;*/
/*  width: 320px;*/
/*  background: white;*/
/*  box-shadow: 0 0 0.4rem rgba(black, 0.05);*/
/*  border-radius: 0.4rem;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  margin-right:20px;*/




/*.card-header {*/
/*  display: flex;*/
/*  flex-direction: column-reverse;*/
/*  height: 200px;*/

/*  background-position: center;*/
/*  background-size: cover;*/

/*  transition: height 0.3s;*/


/*&:hover {*/
/*   height: 375px;*/

/*& + .card-body {*/
/*    height: 29px;*/
/*  }*/
/*}*/

/*.card-title {*/
/*  font-size: 1.4rem;*/
/*  color: inherit;*/

/*  margin: 0;*/

/*  padding: 0.5rem 1rem;*/
/*  padding-top: 1.2rem;*/

/*  background: linear-gradient(transparent, white 60%);*/
/*}*/
/*}*/

/*.card-body {*/
/*  height: 208px;*/
/*  overflow: hidden;*/

/*  padding: 0 1rem;*/

/*  transition: 0.3s;*/


/*.sub-text {*/
/*  font-size: 0.9rem;*/
/*  color: #646b75;*/
/*}*/
/*}*/

/*.card-link-footer {*/
/*  display: block;*/

/*  padding: 1rem;*/

/*  font-weight: bold;*/
/*  color: #d96c0f;*/

/*  text-align: center;*/

/*  text-decoration: none;*/

/*  transition: 0.2s;*/

/*&:hover {*/
/*   color: white;*/
/*   box-shadow: inset 0 -56px 0 #d96c0f;*/
/*   transition: 0.2s;*/
/* }*/
/*}*/
/*}*/

/*.mt-0 {*/
/*  margin-top: 0;*/
/*}*/

/*.mb-1 {*/
/*  margin-bottom: 0.4rem;*/
/*}*/

/*.list-episodes {*/
/*  list-style: none;*/
/*  padding-left: 0;*/
/*  margin: 0 -1rem;*/
/*  color: #646b75;*/

/*li {*/
/*  padding-left: 0.6rem;*/

/*a {*/
/*  display: block;*/
/*  text-decoration: none;*/
/*  color: inherit;*/

/*  padding: 0.4rem 1rem;*/
/*  padding-left: 0.4rem;*/

/*  transition: transform 0.1s;*/

/*&:hover {*/
/*   transform: translateX(4px);*/

/*   transition: transform 0.1s;*/
/* }*/

/*b {*/
/*  font-size: 0.8rem;*/
/*  margin-right: 4px;*/
/*}*/
/*}*/

/*&:nth-child(even) {*/
/*div {*/
/*  border-radius: 4px 0 0 4px;*/
/*  background: rgba(#eff1f5, 0.9);*/
/*}*/
/*}*/
/*}*/
/*}*/
.main-wrapper {
  width: 50%;
  display: flex;
  flex-grow: 1;
  margin-top: 100px;
  overflow: hidden;
}

.books-of {
  width: 320px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  flex-shrink: 0;
}

.popular-books, .row {
  flex-grow: 1;
  padding: 0 30px 50px;
  overflow-y: auto;
}

.archive, h3 {
  font-weight: 500;
  font-size: 30px;
}

.main-menu {
  @extend %display;
  white-space: nowrap;
  padding-bottom: 15px;
  border-bottom: 1px solid #dcddde;
  position: sticky;
  top: 0;
  right: 0;
  background-color: var(--page-bg-color);
  z-index: 2;
}

.book-types {
  margin-left: auto;
}

.book-type + .book-type {
  margin-left: 20px;
}

.book-type {
  position: relative;
  transition: 0.2s;
}

.overlay {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 340px;
  flex-shrink: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #f2f5f7 65%,
    #f2f5f7 100%
  );
  height: 60px;
  margin-left: -35px;
}

.book-cards {
  /*display: grid;*/

  /*grid-template-columns: repeat(2, 1fr);*/
  /*grid-column-gap: 40px;*/
  /*grid-row-gap: 40px;*/
  /*padding-top: 40px;*/
  /*position: relative;*/
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-top: 40px;
  position: relative;
}

.book-card {
  margin-top: 20px;
  background-color: #fff;
  height: 270px;
  box-shadow: -1px 3px 8px -1px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  display: flex;
  flex-direction: rows;
  cursor: pointer;
  padding: 0 0 20px 20px;
  color: var(--body-color-light);

}

.book-card-img {
  width: 160px;
  margin-top: -35px;

  box-shadow: 0px 1px 7px 2px #c7c9d3;
  border-bottom: 1px solid #dcddde;
  object-fit: cover;

  transition: .3s ease;
  border-radius: 10px;

}
.book-card-img:hover {
  transform: scale(1.04);
}

.card-content {
  color: var(--body-color);
  padding: 30px;
  overflow: hidden;
  position: relative;
}

.book-name {
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-by {
  font-size: 13px;
  color: var(--body-color-light);
  margin-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}



.card-sum {
  color: var(--body-color-light);
  font-size: 13px;
  line-height: 1.6em;
  -webkit-line-clamp: 4;
  margin-top: 15px;
}

.content-wrapper {
  display: flex;
  border-bottom: 1px solid #ebedef;
  position: relative;

}

.content-wrapper:before {
  content: "";
  position: absolute;
  background-color: #8f98a9;
  background-color: #aaaebc;
  box-shadow: 0 -6px 0 0 #aaaebc, 0 6px 0 0 #aaaebc;
  width: 4px;
  height: 4px;
  border: 0;
  padding: 0;
  right: 12px;
  top: 17px;
  border-radius: 50%;
  margin-left: auto;
}


@media (max-width: 1103px) {
  .book-cell {
    width: 60%;
  }
}

@media (max-width: 765px) {
  .book-cell {
    width: 80%;
  }
}

@media (max-width: 575px) {
  .book-cell {
    width: 100%;
  }
}

@media (max-width: 458px) {
  .book-photo {
    width: 180px;
  }
  .book-voters {
    display: none;
  }
}

@media (max-width: 420px) {
  .book-see {
    width: 120px;
    font-size: 13px;
  }
  .book-photo {
    width: 130px;
  }
  .main-wrapper {
    margin-top: 50px;
  }
}

@media (max-width: 1045px) {
  .books-of {
    display: none;
  }
}

@media (max-width: 725px) {
  .browse-category, .search-bar {
    display: none;
  }
  .header-title {
    margin-right: auto;
  }
  .book-cards {
    grid-template-columns: 1fr;
  }
  .book-types {
    display: none;
  }
}

@media (max-width: 372px)  {
  .card-content {
    padding: 20px;
  }
}

.heading{
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}

.heading::before{
  content: '';
  position: absolute;
  top:50%; left:0;
  transform: translateY(-50%);
  width: 100%;
  height:.01rem;
  background: rgba(0,0,0,.1);
  z-index: -1;
}

.heading span{
  font-size: 3rem;
  padding:.5rem 2rem;
  color:#444;
  background: #fff;
  border:1rem solid rgba(0,0,0,.1);
}

.btn{
  margin-top: 1rem;
  display:inline-block;
  padding:.9rem 3rem;
  border-radius: .5rem;
  color:#fff;
  background:#00baba;
  font-size: 1.7rem;
  cursor: pointer;
  font-weight: 500;
}

.btn:hover{
  background:#219150;
}

.header .header-1{
  background:#fff;
  padding:1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-1 .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:#444;
}

.header .header-1 .logo i{
  color:#00baba;
}

.header .header-1 .search-form{
  width:50rem;
  height:5rem;
  border: 1rem solid rgba(0,0,0,.1);
  overflow: hidden;
  background:#fff;
  display:flex;
  align-items: center;
  border-radius: .5rem;
}

.header .header-1 .search-form input{
  font-size: 1.6rem;
  padding:0 1.2rem;
  height:100%;
  width:100%;
  text-transform: none;
  color:#444;
}

.header .header-1 .search-form label{
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color:#444;
  cursor: pointer;
}

.header .header-1 .search-form label:hover{
  color:#00baba;
}

.header .header-1 .icons div, .header .header-1 .icons a{
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color:#444;
  cursor: pointer;
}

.header .header-1 .icons div:hover, .header .header-1 .icons a:hover{
  color:#00baba;
}

#search-btn{
  display: none;
}

.header .header-2{
  background: rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(#1c3d63, #00baba);
}

.header .header-2 .navbar{
  text-align: center;
}

.header .header-2 .navbar a{
  color:#fff;
  display: inline-block;
  padding:1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
  background: rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(#f9b664, #ef4e7e);
}
.header .header-2 .navbar i{
  color:#fff;
  display: inline-block;
  padding:1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .navbar i:hover{
  background:#219150;
}


.header .header-2.active{
  position:fixed;
  top:0; left:0; right:0;
  z-index: 1000;

}

.header .header-1{
  background:#fff;
  padding:1.5rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .header-1 .logo{
  font-size: 2.5rem;
  font-weight: bolder;
  color:var(--black);
}

.header .header-1 .logo i{
  color:var(--green);
}

.header .header-1 .search-form{
  width:50rem;
  height:5rem;
  border:var(--border);
  overflow: hidden;
  background:#fff;
  display:flex;
  align-items: center;
  border-radius: .5rem;
}

.header .header-1 .search-form input{
  font-size: 1.6rem;
  padding:0 1.2rem;
  height:100%;
  width:100%;
  text-transform: none;
  color:var(--black);
}

.header .header-1 .search-form label{
  font-size: 2.5rem;
  padding-right: 1.5rem;
  color:var(--black);
  cursor: pointer;
}

.header .header-1 .search-form label:hover{
  color:var(--green);
}

.header .header-1 .icons div,
.header .header-1 .icons a{
  font-size: 2.5rem;
  margin-left: 1.5rem;
  color:var(--black);
  cursor: pointer;
}

.header .header-1 .icons div:hover, .header .header-1 .icons a:hover{
  color:var(--green);
}

#search-btn{
  display: none;
}

.header .header-2{
  background: rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(#1c3d63, #00baba);
}

.header .header-2 .navbar{
  text-align: center;
}

.header .header-2 .navbar a{
  color:#fff;
  display: inline-block;
  padding:1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .navbar a:hover{
  background: rgba(0,0,0,0.6);
  background: -webkit-linear-gradient(#f9b664, #ef4e7e);
}
.header .header-2 .navbar i{
  color:#fff;
  display: inline-block;
  padding:1.2rem;
  font-size: 1.7rem;
}

.header .header-2 .navbar i:hover{
  background:var(--dark-color);
}


.header .header-2.active{
  position:fixed;
  top:0; left:0; right:0;
  z-index: 1000;

}

.bottom-navbar{
  text-align: center;
  background:var(--green);
  position: fixed;
  bottom:0; left:0; right:0;
  z-index: 1000;
  display: none;
}

.bottom-navbar a{
  font-size: 2.5rem;
  padding:2rem;
  color:#fff;
}

.bottom-navbar a:hover{
  background:var(--dark-color);
}

.login-form-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background:rgba(255,255,255,.9);
  position:fixed;
  top:0; right:-105%;
  z-index: 10000;
  height:100%;
  width:100%;
}

.login-form-container.active{
  right:0;
}

.login-form-container form{
  background:#fff;
  border:var(--border);
  width:40rem;
  padding:2rem;
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  margin:2rem;
}

.login-form-container form h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color:var(--black);
  text-align: center;
}

.login-form-container form span{
  display: block;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.login-form-container form .box{
  width: 100%;
  margin:.7rem 0;
  font-size: 1.6rem;
  border:var(--border);
  border-radius: .5rem;
  padding:1rem 1.2rem;
  color:var(--black);
  text-transform: none;
}

.login-form-container form .checkbox{
  display:flex;
  align-items: center;
  gap:.5rem;
  padding:1rem 0;
}

.login-form-container form .checkbox label{
  font-size: 1.5rem;
  color:var(--light-color);
  cursor: pointer;
}

.login-form-container form .btn{
  text-align: center;
  width:100%;
  margin:1.5rem 0;
}

.login-form-container form p{
  padding-top: .8rem;
  color:var(--light-color);
  font-size: 1.5rem;
}

.login-form-container form p a{
  color:var(--green);
  text-decoration: underline;
}

.login-form-container #close-login-btn{
  position: absolute;
  top:1.5rem; right:2.5rem;
  font-size: 5rem;
  color:var(--black);
  cursor: pointer;
}

.icons-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap:1.5rem;
}

.icons-container .icons{
  display: flex;
  align-items: center;
  gap:1.5rem;
  padding:2rem 0;
}

.icons-container .icons i{
  font-size: 3.5rem;
  color:var(--green);
}

.icons-container .icons h3{
  font-size: 2.2rem;
  color:var(--black);
  padding-bottom: .5rem;
}

.icons-container .icons p{
  font-size: 1.4rem;
  color:var(--light-color);
}

.heading::before{
  content: '';
  position: absolute;
  top:50%; left:0;
  transform: translateY(-50%);
  width: 100%;
  height:.01rem;
  background: rgba(0,0,0,.1);
  z-index: -1;
}

.heading span{
  font-size: 3rem;
  padding:.5rem 2rem;
  color:var(--black);
  background: #fff;
  border:var(--border);
}

@media (max-width:991px){
  html{
    font-size: 55%;
  }

  .header .header-1{
    padding:2rem;
  }
}

@media (max-width:768px){
  .header .header-2{
    display:none;
  }

  .bottom-navbar{
    display: block;
  }

  #search-btn{
    display: inline-block;
  }

  .header .header-1{
    box-shadow: var(--box-shadow);
    position: relative;
  }

  .header .header-1 .search-form{
    position:absolute;
    top:-115%; right:2rem;
    width: 90%;
    box-shadow: var(--box-shadow);
  }

  .header .header-1 .search-form.active{
    top:115%;
  }

}

.abs,
h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
  position: absolute;
}
.rel,
h2,
h2 strong,
.cards .card,
.news .card,
.news .article {
  position: relative;
}
.fix {
  position: fixed;
}
.dfix {
  display: inline;
}
.dib {
  display: inline-block;
}
.db {
  display: block;
}
.dn {
  display: none;
}
.df,
.cards,
.news {
  display: flex;
}
.dif {
  display: inline-flex;
}
.dg {
  display: grid;
}
.dig {
  display: inline-grid;
}
.vm,
h2,
h2 strong,
h2 span {
  vertical-align: middle;
}
body {
  background: #24282f;
  font-family: 'Alegreya Sans';
}
.wrapper {
  padding: 15px;
}
h2 {
  padding: 10px;
  padding-left: 25px;
  color: #ccc;
  margin: 0;
}
h2 strong {
  z-index: 2;
  background: #24282f;
  padding: 4px 8px;
}
h2 span {
  font-size: 0.7em;
  color: #aaa;
  margin-left: 10px;
}
h2:after {
  content: '';
  z-index: 1;
  bottom: 50%;
  margin-bottom: -2px;
  height: 2px;
  left: 0;
  right: 0;
  background: #373d47;
}
.cards,
.news {
  flex-flow: row wrap;
}
.cards .card,
.news .card {
  margin: 20px;
  width: 180px;
  height: 270px;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0,0,0,0.8);
  transform-origin: center top;
  transform-style: preserve-3d;
  transform: translateZ(0);
  transition: 0.3s;
}
.cards .card img,
.news .card img {
  width: 100%;
  min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 20px;
  background: none;
  color: #fff;
  transform: translateY(100%);
  transition: 0.3s;
}
.cards .card:after,
.news .card:after {
  content: '';
  z-index: 10;
  width: 200%;
  height: 100%;
  top: -90%;
  left: -20px;
  opacity: 0.1;
  transform: rotate(45deg);
  background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
  transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
  box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
  transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
  transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
  transform: rotate(25deg);
  top: -40%;
  opacity: 0.15;
}
.news .article {
  overflow: hidden;
  width: 350px;
  height: 235px;
  margin: 20px;
}
.news .article img {
  width: 100%;
  min-height: 100%;
  transition: 0.2s;
}
.news .article figcaption {
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(51,51,51,0.3);
  color: #fff;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background: rgba(6,18,53,0.6);
  opacity: 0;
  transform: scale(1.15);
  transition: 0.2s;
}
.news .article figcaption h3 {
  color: #3792e3;
  font-size: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
  filter: blur(3px);
  transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
  opacity: 1;
  transform: none;
}
