<app-navbarmanga></app-navbarmanga>
<div class="split" >



    <div class="slider" >
    <ul>
      <li>
        <div *ngFor="let manga of mangaList; let i = index;" [hidden]="currentIndex !== i"   >

          <div class="darken">
            <img src="{{manga.imageUrl}}" alt=""/>
          </div>
          <div class="slider-text">{{manga.title}}<button class="btn-hover slider-button" (click)="handleButtonClick(manga.id)" style="text-decoration: none;color: white">Read more</button></div>
          <div class="slider-about">{{manga.description}}</div>
        </div>
      </li>
    </ul>
    <button (click)="prevSlide()" class="prev-button">&#10094;</button>
    <button (click)="nextSlide()" class="next-button">&#10095;</button>

  </div>


</div>



<app-banner>
  <div class="slider-text">Welcome!</div>
</app-banner>




<app-topmanga></app-topmanga>


<app-categories></app-categories>

<!--<section >-->

<!--  <div class="row">-->

<!--    <div class="book-cards" *ngFor="let manga of mangas | paginate: {id:'mal_id', itemsPerPage:count, currentPage:p, totalItems:maxCount}">-->
<!--      <div class="book-card">-->

<!--          <a routerLink="/manga/{{manga.mal_id}}">-->
<!--            <img src="{{manga.images.jpg.image_url}}" alt="" class="book-card-img">-->
<!--          </a>-->
<!--          <div class="card-content">-->
<!--            <div class="book-name">{{manga.title}} <app-star [rating]="manga.score"></app-star></div>-->
<!--            <hr>-->
<!--            <div class="book-by">-->
<!--              <span *ngFor="let author of manga.authors; let last = last">-->
<!--                    {{author.name.replace(',','').trim()}}-->
<!--                <ng-container *ngIf="!last">, </ng-container>-->
<!--                  </span>-->
<!--            </div>-->

<!--          </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</section>-->






