<app-navbarmanga></app-navbarmanga>

<div class="container" *ngIf="manga">
  <div class="header-container">
    <img src="{{ manga.data.images.jpg.large_image_url }}" alt="" class="header-image" />
  </div>

  <div class="header">
    <h1 class="main-heading">{{ manga.data.title }}</h1>
    <app-star [rating]="manga.data.score"></app-star>
    <span class="tag">Manga</span>
    <span class="tag"> Score: {{ manga.data.score }}</span>
    <ng-container *ngIf="manga.data.genres.length > 0">
      <span class="tag" *ngFor="let genre of manga.data.genres; let last = last">
        {{ genre.name }}
        <ng-container *ngIf="!last">, </ng-container>
      </span>
    </ng-container>
  </div> <!-- END header -->

  <div class="overlay-header"></div>

  <div class="body">
    <img src="{{ manga.data.images.jpg.image_url }}" alt="Hugh Jackman" class="body-image" />

    <div class="u-clearfix"></div>
    <div class="body-info">
      <p>Chapters: {{ manga.data.chapters ? manga.data.chapters : (manga.data.volumes ? +manga.data.volumes * 30 : 'Unknown') }}</p>
      <p>
        {{ manga.data.synopsis }}
      </p>
    </div>
  </div>
</div>
