@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #0e141f;

  /*background-color: #212529;*/
}/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

