<div id="menu">
  <div id="nav">
    <div id="prev" (click)="scrollCards('left')">
      <i class="fa-solid fa-chevron-left"></i>
    </div>
    <div id="next" (click)="scrollCards('right')">
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
  <ul id="cards" #cardsList>
    <li class="list" *ngFor="let manga of mangas | paginate: {id:'mal_id', itemsPerPage:count, currentPage:p, totalItems:maxCount}">
      <div class="image-container">
        <a routerLink="/manga/{{manga.mal_id}}">
        <img [src]="manga.images.jpg.image_url" class="image">
        </a>

      </div>
      <app-star [rating]="manga.score"></app-star>
      <p style="color:black;">{{manga.title }}</p>
    </li>
  </ul>
</div>
