<section class="xbox">
  <div class="content">
    <h2>Discover new manga</h2>
    <p>Explore an extensive collection of manga series spanning diverse genres, including shounen, shoujo, seinen, romance, action, fantasy, and more.</p>
    <a href="#" class="btn">Join Now <i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="image"></div>
</section>







<div class="wrapper">
  <div class="news-item hero-item">
  </div>
  <div class="news-item standard-item">
  </div>
  <div class="news-item standard-item">
  </div>
  <div class="news-item standard-item">
  </div>
</div>


<div class="container">
  <div class="item">
    <div class="item-button">
      <a href="#" class="button">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button2">
      <a href="#" class="button2">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button3">
      <a href="#" class="button3">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button4">
      <a href="#" class="button4">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button5">
      <a href="#" class="button5">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button6">
      <a href="#" class="button6">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a href="#" class="button7">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a href="#" class="button7">View Details</a>
    </div>
  </div>
</div>

<div class="text-box">
  <span class="text">Stan Lee</span>
  <span class="text">1922-2018</span>
</div>




<!--<div class="wrapper">-->
<!--  <div class="products">-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--    <div class="product"><img src="http://via.placeholder.com/200x200"/></div>-->
<!--  </div>-->
<!--</div>-->













