<section class="xbox">
  <div class="content">
    <h2>Discover new manga</h2>
    <p>Explore an extensive collection of manga series spanning diverse genres, including shounen, shoujo, seinen, romance, action, fantasy, and more.</p>
    <a href="#" class="btn">Join Now <i class="fas fa-chevron-right"></i></a>
  </div>
  <div class="image"></div>
</section>







<div class="wrapper">
  <div class="news-item hero-item">
  </div>
  <div class="news-item standard-item">
  </div>
  <div class="news-item standard-item">
  </div>
  <div class="news-item standard-item">
  </div>
</div>


<div class="container">
  <div class="item">
    <div class="item-button">
      <a href="#" class="button">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button2">
      <a href="#" class="button2">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button3">
      <a href="#" class="button3">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button4">
      <a href="#" class="button4">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button5">
      <a href="#" class="button5">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button6">
      <a href="#" class="button6">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a href="#" class="button7">View Details</a>
    </div>
  </div>
  <div class="item">
    <div class="item-button7">
      <a href="#" class="button7">View Details</a>
    </div>
  </div>
</div>

<div class="text-box">
  <span class="text">Stan Lee</span>
  <span class="text">1922-2018</span>
</div>

<a class="link" href="https://codepen.io/simoberny/pen/qxxOqj" target="_blank">Dark Version</a>
<div class="movie_card" id="bright">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://movieplayer.net-cdn.it/t/images/2017/12/20/bright_jpg_191x283_crop_q85.jpg"/>
      <h1>Bright</h1>
      <h4>2017, David Ayer</h4>
      <span class="minutes">117 min</span>
      <p class="type">Action, Crime, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        Set in a world where fantasy creatures live side by side with humans. A human cop is forced to work with an Orc to find a weapon everyone is prepared to kill for.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back bright_back"></div>
</div>

<div class="movie_card" id="tomb">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" src="https://mr.comingsoon.it/imgdb/locandine/235x336/53750.jpg"/>
      <h1>Tomb Raider</h1>
      <h4>2018, Roar Uthaug</h4>
      <span class="minutes">125 min</span>
      <p class="type">Action, Fantasy</p>
    </div>
    <div class="movie_desc">
      <p class="text">
        Lara Croft, the fiercely independent daughter of a missing adventurer, must push herself beyond her limits when she finds herself on the island where her father disappeared.
      </p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back tomb_back"></div>
</div>

<div class="movie_card bright_back" *ngFor="let manga of mangas">
  <div class="info_section">
    <div class="movie_header">
      <img class="locandina" [src]="manga.images.jpg.image_url" />
      <h1>{{ manga.title }}</h1>
      <h4>{{ manga.year }}</h4>
      <span class="minutes">{{ manga.duration }}</span>
      <p class="type">{{ manga.genres.join(', ') }}</p>
    </div>
    <div class="movie_desc">
      <p class="text">{{ manga.synopsis }}</p>
    </div>
    <div class="movie_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons"></i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back ave_back">
    <img class="character" [src]="manga.characters[0].images" alt="First Character" />
  </div>
</div>














