.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.grid-item {
  width: 250px;
  margin: 10px;
  padding: 10px;
  font-size: 10pt;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.1);
}


