<div class="root">
  <div class="filtering-sorting">
    <p>filter-sort works!</p>
  </div>
  <div class="grid-container">
    <div *ngFor="let anime of data" class="grid-item">
      <img [src]="anime.image" alt="Anime Image"/>
      <h3>{{ anime.title }}</h3>
    </div>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1"><</button>
    <button *ngFor="let page of getPageRange()" (click)="goToPage(page)" [class.active]="currentPage === page">{{ page }}</button>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages.length">></button>
  </div>
</div>
